.hero {
  background: #f1f1f1 url("../img/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;

  &__title{
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__subtitle {
    display: block;
    font-size: 30px;
    margin-bottom: 67px;
    @include bold;
  }
}

@media (max-width: 991px) {
  .hero {
    background-size: contain;
    padding-bottom: 130px;

    &__title, &__subtitle {
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__button {
      padding: 20px 30px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    margin-top: 60px;
    background-size: 100%;

    &__title {
      margin-bottom: 30px;
    }

    &__button {
      height: 40px;
      padding: 10px 20px;
    }

  }
}