
body {
  @include light;
  color: $text-color-main;
}

button {
  outline: none;
}

.button-outline {
  border: 2px solid $text-color-blue;
  padding: 17px 22px;
  font-size: 12px;
  @include bold;
  color: $text-color-blue;
  text-transform: uppercase;
  background-color: transparent;
}

.button {
  padding: 25px 45px;
  border: none;
  text-transform: uppercase;
  @include bold;
  color: #fff;
  background-color: $text-color-blue;
}

.bg-color {
  background: $bg-color;
}

.input {
  padding-left: 30px;
  height: 80px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;

  &:checked + label:before {
    background-color: $text-color-blue;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      margin-right: 20px;
    }
  }
}

.section {
  padding: 100px 0;

  &-title {
    font-size: 30px;
    @include bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 50px;

    &-title {
      font-size: 20px;
    }

    &__title {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 576px) {
  .button-outline {
    font-size: 10px;
  }

  .input {
    height: 40px;
  }

  .checkbox {
    &__label {
      margin-right: 20px;
    }
  }

  .section {
    padding: 20px;

    &__title {
      margin-bottom: 20px;
    }
  }
}