.offer {
  padding: 129px 0;

  &-block {
    background: #fff url("../img/offer-bg.png") no-repeat center right;
    background-size: contain;
    padding: 80px;
    margin-top: -200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 25px;
    @include bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px;
  }
}

.form {
  &__row {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    height: 80px;
    width: 100%;
    outline: none;
  }

  &__label {
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
  }

  &__group {
    flex-basis: 33.33%;
  }

  &__input {
    width: 100%;
    border-right-width: 0;
    outline: none;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

@media (max-width: 1199px) {
  .offer {
    &-block {
      background-position: center right -120px;
    }
  }
}

@media (max-width: 991px) {
  .offer {
    padding: 129px 0 70px;

    &-block {
      background: #fff none;
      padding: 40px;
    }
  }

  .form {
    &__row {
      flex-direction: column;

      &-checkbox {
        flex-direction: row;
      }
    }

    &__group {
      width: 100%;
    }

    &__input {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 576px) {
  .offer {
    &-block {
      padding: 20px;
    }

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 15px;
    }
  }

  .form {
    &__row {

      &-checkbox {
      }
    }

    &__button {
      height: 40px;
      padding: 0;
    }

  }
}