.step {
  text-align: center;
  &__title {
    font-size: 18px;
  }
  &__text {
    max-width: 160px;
    margin: auto auto 30px;
  }
  &s {
    background-color: $bg-color;
    &-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 991px) {
  .step {
    width: 33%;
  }
}

@media (max-width: 576px) {
  .step {
    width: 100%;
  }
}