//Базовые настройки сетки
@import "grid";

//Настройки шрифтов
@import "fonts";

//Цвета
@import "colors";

//Настройки интерфейса
@import "interface";

//Шапка сайта
@import "navbar";

//Блок hero
@import "hero";

//Блок offer
@import "offer";

//Блок features
@import "features";

//Блок catalog
@import "catalog";

//Блок blog
@import "blog";

//Блок price
@import "price";
