* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: auto; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; } }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px; } }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626; }

img {
  max-width: 100%; }

button {
  outline: none; }

.button-outline {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none; }

.button {
  padding: 25px 45px;
  border: none;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  background-color: #507fe1;
  text-decoration: none; }
  .button:hover {
    cursor: pointer; }
  .button-fitting {
    color: #507fe1;
    background-color: #fff; }
  .button-add {
    background-color: #7c9fe8;
    color: #fff; }
  .button-like {
    background-color: #507fe1;
    width: 30px;
    height: 30px;
    border: none; }

.bg-color {
  background: #f1f1f1; }

.input {
  padding-left: 30px;
  height: 80px;
  border: 1px solid #dddddd; }

.checkbox {
  display: none; }
  .checkbox:checked + label:before {
    background-color: #507fe1; }
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px; }
    .checkbox__label:hover {
      cursor: pointer; }
    .checkbox__label:before {
      content: '';
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      margin-right: 20px; }

.section {
  padding: 100px 0; }
  .section-title {
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase; }
  .section__title {
    margin-bottom: 100px; }

@media (max-width: 991px) {
  .section {
    padding: 50px; }
    .section-title {
      font-size: 20px; }
    .section__title {
      margin-bottom: 50px; } }

@media (max-width: 576px) {
  .button {
    font-size: 10px; }
    .button-outline {
      font-size: 10px; }
  .input {
    height: 40px; }
  .checkbox__label {
    margin-right: 20px; }
  .section {
    padding: 20px; }
    .section__title {
      margin-bottom: 20px; } }

.navbar {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__small-text {
    display: block;
    color: #7b7b79;
    font-size: 14px;
    text-decoration: none; }
  .navbar__phone {
    display: block;
    font-size: 19px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0; }
  .menu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu__link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff; }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(81, 11, 186, 0.1);
    border-right: 1px solid rgba(81, 11, 186, 0.1);
    height: 80px;
    width: 70px; }
    .menu-icon__line {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #89a9eb;
      margin: 2px 0; }

.logo__text {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79; }

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none; } }

@media (max-width: 576px) {
  .logo {
    display: none; }
  .menu {
    top: 60px; }
    .menu-icon {
      height: 60px; }
    .menu__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .menu__link {
      margin-bottom: 20px; } }

.hero {
  background: #f1f1f1 url("../img/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px; }
  .hero__title {
    font-size: 30px;
    margin-bottom: 40px; }
  .hero__subtitle {
    display: block;
    font-size: 30px;
    margin-bottom: 67px;
    font-family: 'Proxima Nova Semibold', sans-serif; }

@media (max-width: 991px) {
  .hero {
    background-size: contain;
    padding-bottom: 130px; }
    .hero__title, .hero__subtitle {
      font-size: 20px; }
    .hero__subtitle {
      margin-bottom: 30px; }
    .hero__button {
      padding: 20px 30px; } }

@media (max-width: 576px) {
  .hero {
    margin-top: 60px;
    background-size: 100%; }
    .hero__title {
      margin-bottom: 30px; }
    .hero__button {
      height: 40px;
      padding: 10px 20px; } }

.offer {
  padding: 129px 0; }
  .offer-block {
    background: #fff url("../img/offer-bg.png") no-repeat center right;
    background-size: contain;
    padding: 80px;
    margin-top: -200px;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); }
  .offer__title {
    font-size: 25px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .offer__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__button {
  height: 80px;
  width: 100%;
  outline: none; }

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px; }

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%; }

.form__input {
  width: 100%;
  border-right-width: 0;
  outline: none; }
  .form__input:last-child {
    border-right-width: 1px; }

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px; } }

@media (max-width: 991px) {
  .offer {
    padding: 129px 0 70px; }
    .offer-block {
      background: #fff none;
      padding: 40px; }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form__row-checkbox {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .form__group {
    width: 100%; }
  .form__input {
    margin-bottom: 20px; } }

@media (max-width: 576px) {
  .offer-block {
    padding: 20px; }
  .offer__title {
    font-size: 20px; }
  .offer__subtitle {
    margin-bottom: 30px;
    font-size: 15px; }
  .form__button {
    height: 40px;
    padding: 0; } }

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .features-block__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    text-align: center;
    margin-bottom: 100px; }

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 50px; } }

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px; } }

.catalog {
  background-color: #f1f1f1; }
  .catalog-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__card {
    margin-bottom: 30px; }
  .catalog__link {
    text-align: center;
    margin-top: 60px; }
    .catalog__link-more {
      display: inline-block;
      margin-bottom: 24px; }
  .catalog__description {
    display: block; }
  .catalog-card {
    max-width: 570px;
    position: relative;
    -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1); }
    .catalog-card__image {
      display: block; }
    .catalog-card__tag {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      background-color: rgba(80, 127, 225, 0.6); }
    .catalog-card__buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .catalog-card__button {
      padding: 10px;
      text-transform: uppercase;
      border: none;
      font-size: 11px;
      height: 30px; }

@media (max-width: 1199px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .catalog-card {
    max-width: 470px; } }

@media (max-width: 991px) {
  .catalog__link {
    margin-top: 20px; }
    .catalog__link-more {
      display: inline-block; } }

@media (max-width: 576px) {
  .catalog__link-more {
    padding: 15px 25px; } }

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px; }

.blog__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.blog__link-more {
  color: #507fe1;
  font-size: 16px; }

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .blog-list__image {
    height: 200px;
    overflow: hidden; }
  .blog-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px; }
  .blog-list__card {
    margin-bottom: 20px; }

.blog-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }

@media (max-width: 1199px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .blog-list-card {
      margin-right: 30px;
      margin-left: 30px; } }

@media (max-width: 991px) {
  .blog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .price-block__card {
    margin-bottom: 10px; }

.price-card {
  background-color: #fff;
  position: relative; }
  .price-card__text {
    padding: 20px;
    font-size: 15px; }
  .price-card__title {
    margin: 0; }
  .price-card__cost {
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .price-card__pricetag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .price-card__button {
    text-align: center;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #fff;
    height: 80px;
    padding: 0 20px 20px; }
  .price-card:hover .price-card__button {
    z-index: 99;
    bottom: -80px; }

@media (max-width: 1199px) {
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .price-block__card {
      margin: 20px; } }

.step {
  text-align: center; }
  .step__title {
    font-size: 18px; }
  .step__text {
    max-width: 160px;
    margin: auto auto 30px; }
  .steps {
    background-color: #f1f1f1; }
    .steps-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@media (max-width: 991px) {
  .step {
    width: 33%; } }

@media (max-width: 576px) {
  .step {
    width: 100%; } }
