* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: auto; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626; }

button {
  outline: none; }

.button-outline {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  text-transform: uppercase;
  background-color: transparent; }

.button {
  padding: 25px 45px;
  border: none;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  background-color: #507fe1; }

.navbar {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; }
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__small-text {
    display: block;
    color: #7b7b79;
    font-size: 14px;
    text-decoration: none; }
  .navbar__phone {
    display: block;
    font-size: 19px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  transition: .2s;
  transform: translateY(-100%); }
  .menu_active {
    transform: translateY(0); }
  .menu__nav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .menu__link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff; }
  .menu-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(81, 11, 186, 0.1);
    border-right: 1px solid rgba(81, 11, 186, 0.1);
    height: 80px;
    width: 70px; }
    .menu-icon__line {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #89a9eb;
      margin: 2px 0; }

.logo__text {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79; }

.hero {
  background: #f1f1f1 url("../img/hero-bg.jpg") no-repeat center top;
  background-size: contain;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px; }
  .hero__title {
    font-size: 30px;
    margin-bottom: 40px; }
  .hero__subtitle {
    display: block;
    font-size: 30px;
    margin-bottom: 67px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
